{% extends 'blog/base.htm' %}
<!---->
{% load staticfiles %}
<!---->
<!---==================== head标签部分 ==================-->
{% block head %}
<link id="MainCss" type="text/css" rel="stylesheet" href="/static/css/style.css" />
<!---->
{% endblock %}
<!---==================== 导航栏部分==================-->
{% block navigator %}
<div id="navigator">
        <ul id="navList">
                <li><a class="menu" href="{% url 'index' %}">首页</a></li>
                <li><a class="menu" onclick="article_list(this)" href="#">文章</a></li>
                <li><a class="menu" onclick="all_essays_list(this)" href="#">随笔</a></li>
                <li><a class="menu" href="#">相册</a></li>
                <li><a class="menu" onclick="message_onclick(this)" href="#">留言</a></li>
                <li><a class="menu" href="{% url 'author' %}">博主</a></li>
                <li><a class="menu" href="#">订阅</a></li>
                <li><a class="menu" href="#">收藏</a></li>
        </ul>
        <div class="blogStats">
                <div id="navList">
                        <a class="menu" href="{% url 'register' %}">注册</a>
                        <a class="menu" href="{% url 'admin' %}" target="_self">管理</a>
                </div>
        </div>
</div>
{% endblock %}
<!---===================侧边栏分类列表部分===================-->
{% block category %}
<!---->
{% for c in categories %}
<li><a id="{{ c.id }}" onclick="category_article_list(this)" href="#">{{ c.name }}</a> ({{ c.count }})</li>
{% endfor %}
<!---->
{% endblock %}
<!---==================侧边栏随笔列表部分====================-->
{% block essays %}
<div class="catListEssay">
        <h3 class="catListTitle">最新随笔</h3>
        <ul>
                {% for e in essays %}
                <li><a id="{{ e.id }}" onclick="read_essays(this)" href="#">{{ e.title }}</a></li>
                {% endfor %}
        </ul>
</div>
{% endblock %}
<!---===================脚本部分===================-->
{% block script %}
<script>
function category_article_list(id) { //显示分类文章列表
        //alert(id.id);
        var pages = "category_article_list";
        window.location.href = "/?id=" + id.id + "&page=" + pages; //如果点击了分类列表中的分类，则跳转到该分类下所有文章页面
}

function article_list(id) { //显示所有文章列表
        var pages = "article_list";
        window.location.href = "/?page=" + pages;
}

function read_article(id) { //显示文章内容
        var pages = "read_article";
        window.location.href = "/?id=" + id.id + "&page=" + pages;
}

function all_essays_list(id) { //显示随笔列表
        var pages = "all_essays_list";
        window.location.href = "/?page=" + pages;
}

function read_essays(id) { //显示随笔内容
        var pages = "read_essays";
        window.location.href = "/?id=" + id.id + "&page=" + pages;
}

function message_onclick(id) { //留言
        var pages = "message";
        window.location.href = "/?page=" + pages;
}

function article_comment(id) { //文章评论
        var nickname = $("#comment_nickname").val();
        var content = $("#comment_content").val();
        var pages = "commit_comment";
        //window.location.href = "/?id=" + id.id + "&page=" + pages + "&nickname=" + nickname + "&content=" + content;
        //alert(nickname + content);
        if (nickname == "") {
                alert("昵称不能为空!");
                return;
        } else if (content == "") {
                alert("评论内容不能为空")
                return;
        }
        $.get("/", {
                "id": id.id,
                "page": "commit_comment",
                "nickname": nickname,
                "content": content
        }, function(ret) {
                if (ret == "1") {
                        alert("昵称不能为空");
                } else if (ret == "2") {
                        alert("评论内容不能为空");
                } else {
                        alert(ret);
                        location.reload(true);
                }
        });
}
</script>
{% endblock %}
<!---===========================================================================================-->
{% block content %}
<!---================= 显示主页内容 =====================-->
{% if page == 'index_page' %}
<div class="day">
        <div class="dayTitle">
                <a title="Day link" href="#"></a>&nbsp; 最新文章
        </div>
        <div class="postTitle">
                <a class="postTitle2" href="#">这里是最新的文章列表，快来围观吧！</a>
        </div>
        <div class="postCon">
                <ul>
                        {% for article in articles %}
                        <li>
                                <img src="/static/images/notice.gif" alt="{{ article.title }}" />
                                <a id="{{ article.id }}" onclick="read_article(this)" href="#" title="{{ article.title }}"> {{ article.title }} </a>
                        </li>
                        <p>
                        </p>
                        {% endfor %}
                </ul>
        </div>
        <div class="clear">
        </div>
        <div class="postDesc">
                posted @ <a href="/user/{{ user.username }}/">{{ userprofile.nickname }}</a>
        </div>
        <div class="clear">
        </div>
</div>
{% endif %}
<!---=================点击文章，显示文章内容=====================-->
{% if page == "read_article" %}
<div id="topics">
        <div class="post">
                {% autoescape off %}
                <h1 class="postTitle"> {{ article.title }}</h1>
                <div class="postBody">
                        {{ article.content }}
                </div>
                <div class="clear"></div>
                {% endautoescape %}
                <br>
                <br>
                <br>
        </div>
</div>
<div class="clear"></div>
<div class="comment">
        <h2>发表评论: </h2>
        <div class="nickname">昵称:
                <input type="text" id="comment_nickname" value="" size="32" />
        </div>
        <div class="content">
                <form action="">
                        <textarea name="" id="comment_content" cols="30" rows="10"></textarea>
                        <br>
                        <input type="button" id="{{ article.id }}" onclick="article_comment(this)" value="提交评论" />
                </form>
        </div>
</div>
<br />
<hr width="600px" />
<div class="clear"></div>
<div class="comment">
        <h2>评论列表:</h2>
        <!-- -->
        {% if comments %}
        <!-- -->
        {% for comment in comments %}
        <div class="comment_title">
                #昵称: {{ comment.nickname }} &nbsp&nbsp|&nbsp&nbsp{{ comment.date|date:"Y-m-d" }} {{ comment.time|time:"H:i:s" }}
        </div>
        <div class="comment_content">
                <p>{{ comment.content }}</p>
        </div>
        <br> {% endfor %} {% else %}
        <p>没有评论</p>
        {% endif %}
</div>
{% endif %}
<!---================= 分类下所有文章 =====================-->
{% if page == "category_article_list" %}
<div class="day">
        <div class="dayTitle">
                <a title="Day link" href="#"></a>&nbsp; {{ category.name }}
        </div>
        <div class=".pager">
        </div>
        <div id="myposts">
                <!--循环列出该分类下的所有文章 -->
                {% for article in articles %}
                <div class="PostList">
                        <div class="postTitl2">
                                <a id="{{ article.id }}" onclick="read_article(this)" href="#" title="{{ article.title }}"> {{ article.title }} </a></div>
                        <div class="postDesc2">
                                {{ article.date|date:"Y-m-d" }} {{ article.time|time:"H:i:s" }} {{ article.author }} 阅读:{{ article.click }} 评论:3</div>
                        <div class="postText2">
                        </div>
                </div>
                {% endfor %}
        </div>
</div>
{% endif %}
<!---================ 显示所有文章列表 ======================-->
{% if page == "article_list" %}
<div class="day">
        <div class="dayTitle">
                <a title="Day link" href="#"></a>&nbsp; 所有文章
        </div>
        <div class=".pager"> </div>
        <div id="myposts">
                <!--循环列出所有文章 -->
                {% for article in articles %}
                <div class="PostList">
                        <div class="postTitl2">
                                <a id="{{ article.id }}" onclick="read_article(this)" href="#" title="{{ article.title }}"> {{ article.title }} </a></div>
                        <div class="postDesc2">
                                {{ article.date|date:"Y-m-d" }} {{ article.time|time:"H:i:s" }} {{ article.author }} 阅读:{{ article.click }} 评论:3</div>
                        <div class="postText2">
                        </div>
                </div>
                {% endfor %}
        </div>
</div>
{% endif %}
<!---==================显示所有随笔列表====================-->
{% if page == "all_essays_list" %}
<div class="day">
        <div class="dayTitle">
                <a title="Day link" href="#"></a>&nbsp; 所有随笔
        </div>
        <div class=".pager"> </div>
        <div id="myposts">
                {% for essay in allessays %}
                <div class="PostList">
                        <div class="postTitl2">
                                <a id="{{ essay.id }}" onclick="read_essays(this)" href="#" title="{{ essay.title }}"> {{ essay.title }} </a></div>
                        <div class="postDesc2">
                                {{ essay.author }} {{ essay.date|date:"Y-m-d" }} {{ essay.time|time:"H:i:s" }} 阅读:{{ essay.click }} 评论:3</div>
                        <div class="postText2">
                        </div>
                </div>
                {% endfor %}
        </div>
</div>
{% endif %}
<!---=================点击随笔标题，显示随笔内容=====================-->
{% if page == "read_essays" %}
<div class="day">
        {% autoescape off %}
        <div class="dayTitle">
                {{ essay.title }}
        </div>
        {{ essay.content }} {% endautoescape %}
</div>
{% endif %}
<!---=================点击留言，显示留言页面=====================-->
{% if page == "message" %}
<div id="Profile1_panelAdd">
        <form action="{% url 'message' %}" method="post">
                <table border="0">
                        <tr>
                                <td align="right"><b>昵称：</b></td>
                                <td>
                                        <input name="nickname" type="text" value="" id="nickname" size="64" style="width: 220px;" />
                                </td>
                        </tr>
                        <tr>
                                <td align="right"><b>标题：</b></td>
                                <td>
                                        <input name="title" type="text" id="title" size="32" style="width: 220px;" />
                                </td>
                        </tr>
                        <tr>
                                <td align="right" valign="top"><b>内容：</b>
                                        <br /> &nbsp;
                                        <span class="gray">(200字以内)</span> </td>
                                <td>
                                        <textarea name="content" id="content" rows="8" cols="50"></textarea>
                                </td>
                        </tr>
                        <tr>
                                <td colspan="2" align="center">
                                        <input type="submit" name="commit" value="提交留言" />
                                </td>
                        </tr>
                </table>
        </form>
</div>
{% endif %}
<!-- -->
{% endblock %}
