{% extends 'admin/base.htm' %} {% load staticfiles %} 

{% block user %}
{{ user }}
{% endblock %}

{% block content %}
<div class="result-wrap">
        <div class="result-title">
                <h1>快捷操作</h1>
        </div>
        <div class="result-content">
                <div class="short-wrap">
                        <a href="{% url 'add_category' %}"><i class="icon-font">&#xe041;</i>新增分类</a>
                        <a href="{% url 'add_article' %}"><i class="icon-font">&#xe005;</i>新增文章</a>
                        <a href="{% url 'add_essays' %}"><i class="icon-font">&#xe001;</i>新增随笔</a>
                        <a href="{% url 'comment_manage' %}"><i class="icon-font">&#xe01e;</i>查看评论</a>
                        <a href="{% url 'message_manage' %}"><i class="icon-font">&#xe01e;</i>查看留言</a>
                        <a href="{% url 'add_album' %}"><i class="icon-font">&#xe01e;</i>新增相册</a>
                        <a href="{% url 'add_link' %}"><i class="icon-font">&#xe01e;</i>新增友情链接</a>
                </div>
        </div>
</div>
<div class="result-wrap">
        <div class="result-title">
                <h1>系统基本信息</h1>
        </div>
        <div class="result-content">
                <ul class="sys-info-list">
                        <li>
                                <label class="res-lab">操作系统</label><span class="res-info">WINNT</span>
                        </li>
                        <li>
                                <label class="res-lab">运行环境</label><span class="res-info">Apache/2.2.21 (Win64) PHP/5.3.10</span>
                        </li>
                        <li>
                                <label class="res-lab">PHP运行方式</label><span class="res-info">apache2handler</span>
                        </li>
                        <li>
                                <label class="res-lab">静静设计-版本</label><span class="res-info">v-0.1</span>
                        </li>
                        <li>
                                <label class="res-lab">上传附件限制</label><span class="res-info">2M</span>
                        </li>
                        <li>
                                <label class="res-lab">北京时间</label><span class="res-info">2014年3月18日 21:08:24</span>
                        </li>
                        <li>
                                <label class="res-lab">服务器域名/IP</label><span class="res-info">localhost [ 127.0.0.1 ]</span>
                        </li>
                        <li>
                                <label class="res-lab">Host</label><span class="res-info">127.0.0.1</span>
                        </li>
                </ul>
        </div>
</div>
{% endblock %}
